<?xml version="1.0" encoding="utf-8"?>
<Media Key="385429f1-a722-482d-b9d8-06b9a3914b42" Alias="1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T20:22:23</CreateDate>
    <NodeName Default="1.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/aokpnwrz/1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>