<?xml version="1.0" encoding="utf-8"?>
<Media Key="2fdcf36b-7d44-4b15-ac10-c432f6b5bb2d" Alias="2.svg" Level="2">
  <Info>
    <Parent Key="05bc2037-8827-4541-8a70-c8259bf1df04">TeamMembers</Parent>
    <Path>/TeamMembers/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T20:23:28</CreateDate>
    <NodeName Default="2.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tfhh3tk5/2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>