<?xml version="1.0" encoding="utf-8"?>
<Media Key="7f63c69c-cbd7-4428-8263-de074fc3ae51" Alias="3.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T20:22:31</CreateDate>
    <NodeName Default="3.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nz3ndhom/3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>