<?xml version="1.0" encoding="utf-8"?>
<Media Key="fac11fcb-6f19-4714-92c4-e06dba31530f" Alias="4.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T20:22:31</CreateDate>
    <NodeName Default="4.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hgrgggac/4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>