<?xml version="1.0" encoding="utf-8"?>
<Media Key="0088d1d9-1db5-4cab-947b-0b110be9771f" Alias="4.svg" Level="2">
  <Info>
    <Parent Key="05bc2037-8827-4541-8a70-c8259bf1df04">TeamMembers</Parent>
    <Path>/TeamMembers/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T20:23:28</CreateDate>
    <NodeName Default="4.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fnwcvyvo/4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>