<?xml version="1.0" encoding="utf-8"?>
<Media Key="96598730-1465-4890-a594-1dae45fb8e80" Alias="5.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T20:22:31</CreateDate>
    <NodeName Default="5.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yi3pw3d4/5.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>