<?xml version="1.0" encoding="utf-8"?>
<Media Key="0c033d77-7245-4108-a22b-9466d9a81fd5" Alias="6.svg" Level="2">
  <Info>
    <Parent Key="05bc2037-8827-4541-8a70-c8259bf1df04">TeamMembers</Parent>
    <Path>/TeamMembers/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T20:23:28</CreateDate>
    <NodeName Default="6.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qwakd1s4/6.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>