<?xml version="1.0" encoding="utf-8"?>
<Media Key="476512af-5c06-4fc2-8aa0-8af351559e9b" Alias="7.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T20:22:31</CreateDate>
    <NodeName Default="7.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lwxnpji3/7.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>