<?xml version="1.0" encoding="utf-8"?>
<Media Key="dcd886e3-aed1-412a-bf21-7251ebaa52a2" Alias="7.svg" Level="2">
  <Info>
    <Parent Key="05bc2037-8827-4541-8a70-c8259bf1df04">TeamMembers</Parent>
    <Path>/TeamMembers/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T20:23:29</CreateDate>
    <NodeName Default="7.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ce3hupwk/7.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>