<?xml version="1.0" encoding="utf-8"?>
<Media Key="10ee059c-048d-4133-afb6-8c26d67f65ab" Alias="Brand.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Brandsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-23T12:56:59</CreateDate>
    <NodeName Default="Brand.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/n02ez2uw/brand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>