<?xml version="1.0" encoding="utf-8"?>
<Media Key="c5c3241e-5fea-4331-8475-4ff407be1a7f" Alias="Component 3.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Component3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T19:49:59</CreateDate>
    <NodeName Default="Component 3.svg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3smhcj5r/component-3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>