<?xml version="1.0" encoding="utf-8"?>
<Media Key="faf38d3c-ddb0-4bd5-acc8-8dd0f2bc2e9b" Alias="dot-map 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/dotMap1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T20:44:29</CreateDate>
    <NodeName Default="dot-map 1.svg" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zyyfcgfl/dot-map-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>