<?xml version="1.0" encoding="utf-8"?>
<Media Key="1c84087f-b0e6-469e-b351-52a0c774877c" Alias="fossilgroup06.svg" Level="2">
  <Info>
    <Parent Key="7955d51e-a6db-4ced-9802-5fd3c525a54d">Partners</Parent>
    <Path>/Partners/fossilgroup06svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-03T15:08:19</CreateDate>
    <NodeName Default="fossilgroup06.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rw0dn5x3/fossilgroup06.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>