<?xml version="1.0" encoding="utf-8"?>
<Media Key="ac235ee5-198e-479c-bac3-66e3a6a0442c" Alias="HomePageImage.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomePageImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-21T21:16:16</CreateDate>
    <NodeName Default="HomePageImage.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/c5rjctuv/homepageimage.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>