<?xml version="1.0" encoding="utf-8"?>
<Media Key="178cf85b-a510-414c-b412-5fbb64c410c6" Alias="identity02.svg" Level="2">
  <Info>
    <Parent Key="7955d51e-a6db-4ced-9802-5fd3c525a54d">Partners</Parent>
    <Path>/Partners/identity02svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-03T15:08:19</CreateDate>
    <NodeName Default="identity02.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vfcd33il/identity02.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>