<?xml version="1.0" encoding="utf-8"?>
<Media Key="b084a622-0951-45eb-b84d-4f2f080b17c3" Alias="image-24-min 1.svg" Level="2">
  <Info>
    <Parent Key="d3fbb347-11f2-42a7-a4fb-79e6d70d700d">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/image24Min1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T17:24:39</CreateDate>
    <NodeName Default="image-24-min 1.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0andmusk/image-24-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>