<?xml version="1.0" encoding="utf-8"?>
<Media Key="6e274e1b-caa0-497a-9a2f-2cdf4c07504e" Alias="image-23-min 1.svg" Level="2">
  <Info>
    <Parent Key="d3fbb347-11f2-42a7-a4fb-79e6d70d700d">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/image23Min1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T17:24:39</CreateDate>
    <NodeName Default="image-23-min 1.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3hzjldf1/image-23-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>