<?xml version="1.0" encoding="utf-8"?>
<Media Key="aec36fa4-e782-4f6f-8844-f24d565d83a9" Alias="image-13-min 1.svg" Level="2">
  <Info>
    <Parent Key="d3fbb347-11f2-42a7-a4fb-79e6d70d700d">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/image13Min1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T17:24:39</CreateDate>
    <NodeName Default="image-13-min 1.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/k1jgctez/image-13-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>