<?xml version="1.0" encoding="utf-8"?>
<Media Key="0db8490b-9291-4424-aad2-fe9e34d70a00" Alias="image-22-min 1.svg" Level="2">
  <Info>
    <Parent Key="d3fbb347-11f2-42a7-a4fb-79e6d70d700d">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/image22Min1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T17:24:39</CreateDate>
    <NodeName Default="image-22-min 1.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5h0bv12k/image-22-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>