<?xml version="1.0" encoding="utf-8"?>
<Media Key="33f9da31-70b7-4fa5-bd28-1aaca9131a3a" Alias="image-21-min 1.svg" Level="2">
  <Info>
    <Parent Key="d3fbb347-11f2-42a7-a4fb-79e6d70d700d">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/image21Min1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T17:24:39</CreateDate>
    <NodeName Default="image-21-min 1.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yntfxunm/image-21-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>