<?xml version="1.0" encoding="utf-8"?>
<Media Key="685b963f-e4df-4a2a-b5cc-bf155ed26eb0" Alias="image-18-min 1.svg" Level="2">
  <Info>
    <Parent Key="d3fbb347-11f2-42a7-a4fb-79e6d70d700d">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/image18Min1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T17:24:39</CreateDate>
    <NodeName Default="image-18-min 1.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zuvptcwe/image-18-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>