<?xml version="1.0" encoding="utf-8"?>
<Media Key="b7112e77-5825-4aad-bd48-daf66fdd286a" Alias="Img-1 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Img11svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T20:44:44</CreateDate>
    <NodeName Default="Img-1 1.svg" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qwjlgvj4/img-1-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>