<?xml version="1.0" encoding="utf-8"?>
<Media Key="d1e14527-93eb-41dc-8933-22e6190c8933" Alias="img_choose_01_home01 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/img_choose_01_home011svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-03T17:39:13</CreateDate>
    <NodeName Default="img_choose_01_home01 1.svg" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0x2egm5q/img_choose_01_home01-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>