<?xml version="1.0" encoding="utf-8"?>
<Media Key="97b15cbd-32bd-4775-ad3b-f77b46f6e340" Alias="kevin-gardner.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/kevinGardnersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T10:36:34</CreateDate>
    <NodeName Default="kevin-gardner.svg" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/j5qbg3ng/kevin-gardner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>