<?xml version="1.0" encoding="utf-8"?>
<Media Key="e3492125-956a-4b9d-8d3a-57536fa61c52" Alias="maboy.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/maboysvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T10:17:28</CreateDate>
    <NodeName Default="maboy.svg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/04oowalr/maboy.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>