<?xml version="1.0" encoding="utf-8"?>
<Media Key="4ba7c286-6c44-4cc3-98d9-42eb92f42774" Alias="natural03.svg" Level="2">
  <Info>
    <Parent Key="7955d51e-a6db-4ced-9802-5fd3c525a54d">Partners</Parent>
    <Path>/Partners/natural03svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-03T15:08:19</CreateDate>
    <NodeName Default="natural03.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/or5blkk5/natural03.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>