<?xml version="1.0" encoding="utf-8"?>
<Media Key="7955d51e-a6db-4ced-9802-5fd3c525a54d" Alias="Partners" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Partners</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-03T15:08:06</CreateDate>
    <NodeName Default="Partners" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties />
</Media>