<?xml version="1.0" encoding="utf-8"?>
<Media Key="6853d176-d01f-4c1c-96e5-a78c69d98920" Alias="rtepic.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/rtepicsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T21:31:18</CreateDate>
    <NodeName Default="rtepic.svg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qrwpdcqe/rtepic.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>