<?xml version="1.0" encoding="utf-8"?>
<Media Key="d3fbb347-11f2-42a7-a4fb-79e6d70d700d" Alias="Services Thumbnails" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ServicesThumbnails</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-29T17:22:57</CreateDate>
    <NodeName Default="Services Thumbnails" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties />
</Media>