<?xml version="1.0" encoding="utf-8"?>
<Media Key="5c3b7f48-f60e-462c-a095-cb6e7fa3faf5" Alias="simpleaf04.svg" Level="2">
  <Info>
    <Parent Key="7955d51e-a6db-4ced-9802-5fd3c525a54d">Partners</Parent>
    <Path>/Partners/simpleaf04svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-03T15:08:20</CreateDate>
    <NodeName Default="simpleaf04.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xlbjtpqv/simpleaf04.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>