<?xml version="1.0" encoding="utf-8"?>
<Media Key="05bc2037-8827-4541-8a70-c8259bf1df04" Alias="TeamMembers" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TeamMembers</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-22T20:23:09</CreateDate>
    <NodeName Default="TeamMembers" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties />
</Media>