<?xml version="1.0" encoding="utf-8"?>
<Media Key="81db8c29-bd65-40d0-89e3-fa0e0f777b26" Alias="Video.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Videosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-03T15:01:19</CreateDate>
    <NodeName Default="Video.svg" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1myhsy14/video.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>