@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContactPage>
@{
	Layout = "mainLayout.cshtml";
}

<section>
	<h1>@Model.BannerTitle</h1>
</section>