<?xml version="1.0" encoding="utf-8"?>
<Content Key="34c25dab-c08e-4fbb-aefa-0e48e90ede49" Alias="2025-11-04 17:22 - test" Level="2">
  <Info>
    <Parent Key="0b759017-9d46-4841-8416-a16709210e4c">Form Submissions</Parent>
    <Path>/FormSubmissions/test</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-04T17:22:56</CreateDate>
    <NodeName Default="2025-11-04 17:22 - test" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[test@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[test]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Tax planning]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0703322321]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>