<?xml version="1.0" encoding="utf-8"?>
<Content Key="424a6c30-ef6e-4514-ab8c-6ddad2da4b3b" Alias="2025-11-05 12:44 - hej@domain.com" Level="2">
  <Info>
    <Parent Key="0b759017-9d46-4841-8416-a16709210e4c">Form Submissions</Parent>
    <Path>/FormSubmissions/hejDomaincom</Path>
    <Trashed>false</Trashed>
    <ContentType>supportRequest</ContentType>
    <CreateDate>2025-11-05T12:45:05</CreateDate>
    <NodeName Default="2025-11-05 12:44 - hej@domain.com" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <emailSupportRequest>
      <Value><![CDATA[hej@domain.com]]></Value>
    </emailSupportRequest>
  </Properties>
</Content>