<?xml version="1.0" encoding="utf-8"?>
<Content Key="ed2bfc0c-8ee1-4e16-b093-69434d513a25" Alias="2025-11-06 21:03 - Contact testing" Level="2">
  <Info>
    <Parent Key="0b759017-9d46-4841-8416-a16709210e4c">Form Submissions</Parent>
    <Path>/FormSubmissions/ContactTesting</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-06T21:03:10</CreateDate>
    <NodeName Default="2025-11-06 21:03 - Contact testing" />
    <SortOrder>6</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[contacttest@domain.now]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Contact testing]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Business]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0713123232]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>