<?xml version="1.0" encoding="utf-8"?>
<Content Key="93cec9c5-5a22-4ad2-bfee-9b5565ba3800" Alias="2025-11-04 17:11 - Max" Level="2">
  <Info>
    <Parent Key="0b759017-9d46-4841-8416-a16709210e4c">Form Submissions</Parent>
    <Path>/FormSubmissions/Max</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-04T17:11:04</CreateDate>
    <NodeName Default="2025-11-04 17:11 - Max" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[max@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Max]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Financial consulting]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0703232525]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>