<?xml version="1.0" encoding="utf-8"?>
<Content Key="705440e1-ba5f-4f50-b353-72281b0884d7" Alias="2025-11-05 20:46 - Max" Level="2">
  <Info>
    <Parent Key="0b759017-9d46-4841-8416-a16709210e4c">Form Submissions</Parent>
    <Path>/FormSubmissions/Max</Path>
    <Trashed>false</Trashed>
    <ContentType>questionRequest</ContentType>
    <CreateDate>2025-11-05T20:46:13</CreateDate>
    <NodeName Default="2025-11-05 20:46 - Max" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <questionRequestEmail>
      <Value><![CDATA[max@domain.com]]></Value>
    </questionRequestEmail>
    <questionRequestName>
      <Value><![CDATA[Max]]></Value>
    </questionRequestName>
    <questionRequestQuestion>
      <Value><![CDATA[I have a question about taxes. Please call get back to me asap!

Max]]></Value>
    </questionRequestQuestion>
  </Properties>
</Content>