<?xml version="1.0" encoding="utf-8"?>
<Content Key="9a99569b-c615-4bc5-990f-c1c65c16abcd" Alias="2025-11-04 17:24 - test2" Level="2">
  <Info>
    <Parent Key="0b759017-9d46-4841-8416-a16709210e4c">Form Submissions</Parent>
    <Path>/FormSubmissions/test2</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-04T17:24:04</CreateDate>
    <NodeName Default="2025-11-04 17:24 - test2" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[test2@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[test2]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Financial consulting]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0732221144]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>