<?xml version="1.0" encoding="utf-8"?>
<Content Key="e2152f09-4e9f-4ed8-af84-09cd2e515f7d" Alias="Bonds &amp; Commodities" Level="3">
  <Info>
    <Parent Key="4637152c-3b22-4bb5-85b0-641412ef61b4">Services</Parent>
    <Path>/Onatrix/Services/BondsCommodities</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-29T17:26:34</CreateDate>
    <NodeName Default="Bonds &amp; Commodities" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b71f0224-b48d-49ec-b0d4-10a88e6e7b48">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Bonds & Commodities]]></Value>
    </pageTitle>
    <questionRequestForm>
      <Value><![CDATA[]]></Value>
    </questionRequestForm>
    <sections>
      <Value><![CDATA[]]></Value>
    </sections>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f294546e-ed3d-46b9-92c7-64fc41acc812",
      "key": "9e2fa733-ea90-4a30-b930-15e67e91890c",
      "udi": null,
      "values": [
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About Us"
        },
        {
          "alias": "infoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "5098ceb0-2423-4f98-a835-5a378e4505a6",
              "mediaKey": "b084a622-0951-45eb-b84d-4f2f080b17c3",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "infoText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "9e2fa733-ea90-4a30-b930-15e67e91890c",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "9e2fa733-ea90-4a30-b930-15e67e91890c",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <serviceDetailBodyText>
      <Value><![CDATA[]]></Value>
    </serviceDetailBodyText>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "fa71cd05-249a-4765-a587-3368de915838",
    "mediaKey": "685b963f-e4df-4a2a-b5cc-bf155ed26eb0",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>