<?xml version="1.0" encoding="utf-8"?>
<Content Key="7545a5c8-380a-4ced-9f48-843682b472e3" Alias="Contact" Level="2">
  <Info>
    <Parent Key="df3759b8-c5ab-4d54-92a7-e7f606d341ac">Onatrix</Parent>
    <Path>/Onatrix/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-21T22:01:58</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c80894a2-970f-4460-a122-c20a74bfe763">ContactPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "fdd376e2-23f9-432f-be85-ce7e57984894",
      "key": "63fdef30-7c01-4b72-b759-4e32f78b5889",
      "udi": null,
      "values": [
        {
          "alias": "contactImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "d403888e-1404-4e8d-b555-2787743ecd81",
              "mediaKey": "e3492125-956a-4b9d-8d3a-57536fa61c52",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        }
      ]
    },
    {
      "contentTypeKey": "dd996a7d-d562-4ff5-accb-2303dc2382dc",
      "key": "abd796a3-72ae-44fb-94c9-66c521bef09e",
      "udi": null,
      "values": [
        {
          "alias": "partnerList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "1c001a2f-e744-4d65-8ad1-5bffd634c69b",
                "key": "a885e51d-57d6-48fc-9839-8c156beeda14",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "ece23461-2dab-4e44-83cd-1efeb5cb170a",
                        "mediaKey": "fbd1fb28-f922-419c-9c0c-c8d6e604aab1",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Freedom"
                  }
                ]
              },
              {
                "contentTypeKey": "1c001a2f-e744-4d65-8ad1-5bffd634c69b",
                "key": "1e1a6e5d-fd01-4caf-a745-8bb9f948fc41",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "2dcebc35-b98e-4b6d-87b0-cfc00754af7c",
                        "mediaKey": "178cf85b-a510-414c-b412-5fbb64c410c6",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Identity"
                  }
                ]
              },
              {
                "contentTypeKey": "1c001a2f-e744-4d65-8ad1-5bffd634c69b",
                "key": "5c562308-46fb-44cb-84e0-737e3028e702",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "c97659cb-b493-4dc0-9451-fe5977d1824f",
                        "mediaKey": "4ba7c286-6c44-4cc3-98d9-42eb92f42774",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Natural"
                  }
                ]
              },
              {
                "contentTypeKey": "1c001a2f-e744-4d65-8ad1-5bffd634c69b",
                "key": "11a7f4bf-6caf-4564-bb26-f073d8e999b3",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "48de4356-abf6-44b7-a128-fe5330097056",
                        "mediaKey": "5c3b7f48-f60e-462c-a095-cb6e7fa3faf5",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Simpleaf"
                  }
                ]
              },
              {
                "contentTypeKey": "1c001a2f-e744-4d65-8ad1-5bffd634c69b",
                "key": "07466612-ffd8-4e93-99d6-fcc958bf88c5",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "d8ceae39-3b52-4e80-8662-6b3dea215a19",
                        "mediaKey": "162ad142-1551-4eba-be28-b93968455d5b",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Globe"
                  }
                ]
              },
              {
                "contentTypeKey": "1c001a2f-e744-4d65-8ad1-5bffd634c69b",
                "key": "141a9f31-e0ca-45ae-9e52-d1a561f15e6b",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "91af318e-b0d0-43ab-8971-36e00f83e830",
                        "mediaKey": "1c84087f-b0e6-469e-b351-52a0c774877c",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Fossil"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "a885e51d-57d6-48fc-9839-8c156beeda14",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "1e1a6e5d-fd01-4caf-a745-8bb9f948fc41",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "5c562308-46fb-44cb-84e0-737e3028e702",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "11a7f4bf-6caf-4564-bb26-f073d8e999b3",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "07466612-ffd8-4e93-99d6-fcc958bf88c5",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "141a9f31-e0ca-45ae-9e52-d1a561f15e6b",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "a885e51d-57d6-48fc-9839-8c156beeda14",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "1e1a6e5d-fd01-4caf-a745-8bb9f948fc41",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "5c562308-46fb-44cb-84e0-737e3028e702",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "11a7f4bf-6caf-4564-bb26-f073d8e999b3",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "07466612-ffd8-4e93-99d6-fcc958bf88c5",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "141a9f31-e0ca-45ae-9e52-d1a561f15e6b",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "5dc51254-7d36-42a0-a623-c91fea775f84",
      "key": "dad10101-ed5d-498b-b100-bc94a13ab0e4",
      "udi": null,
      "values": [
        {
          "alias": "lastSectionLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Request a call back"
        },
        {
          "alias": "lastSectionTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "lastSectionText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cem class=\u0022custom-p-3\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ELorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus\u003C/span\u003E\u003C/em\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "7b059e15-9222-4c5c-8829-0eeb2065b97a",
      "key": "4c277b7e-af7d-4a3d-950b-0de005a51ab6",
      "udi": null,
      "values": [
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "white",
            "value": "#ffffff"
          }
        }
      ]
    },
    {
      "contentTypeKey": "8ec02378-60ee-48c7-91f7-d5a16523c678",
      "key": "8abf5ad0-2b30-42f3-b630-a66d406fb4e2",
      "udi": null,
      "values": [
        {
          "alias": "callbackRequestOptions",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Financial consulting\nBusiness\nTax Planning"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "63fdef30-7c01-4b72-b759-4e32f78b5889",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "abd796a3-72ae-44fb-94c9-66c521bef09e",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "dad10101-ed5d-498b-b100-bc94a13ab0e4",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "63fdef30-7c01-4b72-b759-4e32f78b5889",
        "contentUdi": null,
        "settingsKey": "4c277b7e-af7d-4a3d-950b-0de005a51ab6",
        "settingsUdi": null
      },
      {
        "contentKey": "dad10101-ed5d-498b-b100-bc94a13ab0e4",
        "contentUdi": null,
        "settingsKey": "8abf5ad0-2b30-42f3-b630-a66d406fb4e2",
        "settingsUdi": null
      },
      {
        "contentKey": "abd796a3-72ae-44fb-94c9-66c521bef09e",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>