<?xml version="1.0" encoding="utf-8"?>
<Content Key="4637152c-3b22-4bb5-85b0-641412ef61b4" Alias="Services" Level="2">
  <Info>
    <Parent Key="df3759b8-c5ab-4d54-92a7-e7f606d341ac">Onatrix</Parent>
    <Path>/Onatrix/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2025-10-22T17:57:15</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6690ca76-e8df-4609-bd27-315311231f42">ServicePage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "993103fe-f248-4865-9163-225e68d2c1e5",
      "key": "70d88b65-a017-4cb2-98c2-e85f61a93336",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions \u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "fdd376e2-23f9-432f-be85-ce7e57984894",
      "key": "98faf3ce-a3b9-4503-a76e-00bc1eea1962",
      "udi": null,
      "values": [
        {
          "alias": "contactImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "33db467b-d4f0-4698-84c5-67af78e4317b",
              "mediaKey": "e3492125-956a-4b9d-8d3a-57536fa61c52",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "995139be-49ce-4dc1-b363-82f3daaf0d7a",
      "key": "81a3f67f-78a5-4a7f-b339-f4345b50c56b",
      "udi": null,
      "values": [
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "white",
            "value": "#ffffff"
          }
        },
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "7b059e15-9222-4c5c-8829-0eeb2065b97a",
      "key": "d753d351-f92f-4fdf-8be4-1df587c57582",
      "udi": null,
      "values": [
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "white100",
            "value": "#f7f7f7"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "70d88b65-a017-4cb2-98c2-e85f61a93336",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "98faf3ce-a3b9-4503-a76e-00bc1eea1962",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "70d88b65-a017-4cb2-98c2-e85f61a93336",
        "contentUdi": null,
        "settingsKey": "81a3f67f-78a5-4a7f-b339-f4345b50c56b",
        "settingsUdi": null
      },
      {
        "contentKey": "98faf3ce-a3b9-4503-a76e-00bc1eea1962",
        "contentUdi": null,
        "settingsKey": "d753d351-f92f-4fdf-8be4-1df587c57582",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>