<?xml version="1.0" encoding="utf-8"?>
<Content Key="b7a4fe6b-2e29-43e4-bf3f-e8e1a0e24349" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-10-23T12:59:39</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactAddress>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </contactAddress>
    <contactEmail>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </contactEmail>
    <contactPhone>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </contactPhone>
    <footerText>
      <Value><![CDATA[© Onatrix. All Rights Reserved. Credits to Themesflat]]></Value>
    </footerText>
    <platformList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "8a208af6-e70e-40a3-b52c-b107106116b6",
      "key": "d9e93f9b-8c7b-4ac3-8293-b6bc75b90846",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Facebook"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.facebook.com"
        }
      ]
    },
    {
      "contentTypeKey": "8a208af6-e70e-40a3-b52c-b107106116b6",
      "key": "5a7c7aa4-29f5-4c1e-ab42-c352ce4ba7ac",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "X"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.x.com"
        }
      ]
    },
    {
      "contentTypeKey": "8a208af6-e70e-40a3-b52c-b107106116b6",
      "key": "a58d38b2-4446-4f43-92b7-54dc1527f7f5",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "LinkedIn"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.linkedin.com"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "d9e93f9b-8c7b-4ac3-8293-b6bc75b90846",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "5a7c7aa4-29f5-4c1e-ab42-c352ce4ba7ac",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "a58d38b2-4446-4f43-92b7-54dc1527f7f5",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "d9e93f9b-8c7b-4ac3-8293-b6bc75b90846",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "5a7c7aa4-29f5-4c1e-ab42-c352ce4ba7ac",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "a58d38b2-4446-4f43-92b7-54dc1527f7f5",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </platformList>
    <siteLogo>
      <Value><![CDATA[[
  {
    "key": "d15191c3-af53-4da5-af12-cbc316149367",
    "mediaKey": "10ee059c-048d-4133-afb6-8c26d67f65ab",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogo>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
  </Properties>
</Content>