<footer class="footerSection">
    <div class="container">
        <p class="footerText">
            <span>© Onatrix. All Rights Reserved. Credits to</span>
            <span>Themesflat</span>
        </p>
    </div>
</footer>