<?xml version="1.0" encoding="utf-8"?>
<DataType Key="749ce6fc-f6eb-410c-8b7b-1d6689f2bdae" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "b2948392-ada3-41d1-8fd6-8523526ae730"
    },
    {
      "contentElementTypeKey": "993103fe-f248-4865-9163-225e68d2c1e5",
      "settingsElementTypeKey": "995139be-49ce-4dc1-b363-82f3daaf0d7a"
    },
    {
      "contentElementTypeKey": "90e4b0b4-9545-4065-9213-ad6ace171f16"
    },
    {
      "contentElementTypeKey": "fdd376e2-23f9-432f-be85-ce7e57984894",
      "settingsElementTypeKey": "7b059e15-9222-4c5c-8829-0eeb2065b97a"
    },
    {
      "contentElementTypeKey": "9cc5f664-44f3-4e48-aa5f-8dc2352dda2b"
    },
    {
      "contentElementTypeKey": "77cc9e79-a6b0-4719-9406-d00ec3ba0127"
    },
    {
      "contentElementTypeKey": "4ddbb768-88f1-4169-90b3-1a5db16614b4"
    },
    {
      "contentElementTypeKey": "dd996a7d-d562-4ff5-accb-2303dc2382dc"
    },
    {
      "contentElementTypeKey": "321cc822-bf94-4b87-a100-9a44c019157a"
    },
    {
      "contentElementTypeKey": "5bb53b4f-edd5-461d-a614-1e8a4889475f",
      "settingsElementTypeKey": "8ec02378-60ee-48c7-91f7-d5a16523c678"
    },
    {
      "contentElementTypeKey": "5dc51254-7d36-42a0-a623-c91fea775f84",
      "settingsElementTypeKey": "8ec02378-60ee-48c7-91f7-d5a16523c678"
    }
  ]
}]]></Config>
</DataType>