<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f5322614-8383-466a-8453-1ab6699a487c" Alias="Partner List" Level="1">
  <Info>
    <Name>Partner List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "1c001a2f-e744-4d65-8ad1-5bffd634c69b",
      "label": "{umbValue: partnerName}"
    }
  ]
}]]></Config>
</DataType>