<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c00ad889-ef2b-4970-a5bc-ddd012325939" Alias="Question Request Form" Level="1">
  <Info>
    <Name>Question Request Form</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "a4ff80ac-07b1-4449-bdc0-49163177042a"
    }
  ]
}]]></Config>
</DataType>