<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8144b5bb-19e7-43a8-a3e7-b7999b6fd493" Alias="Service Detail Asides - List" Level="1">
  <Info>
    <Name>Service Detail Asides - List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "f294546e-ed3d-46b9-92c7-64fc41acc812"
    },
    {
      "contentElementTypeKey": "20d972a7-a51b-4539-9336-68c22a50853e"
    }
  ]
}]]></Config>
</DataType>