<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9605f89f-036b-48ba-b806-94744305f124" Alias="Site Settings - Platform List" Level="1">
  <Info>
    <Name>Site Settings - Platform List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "8a208af6-e70e-40a3-b52c-b107106116b6",
      "label": "{umbValue: platformName}"
    }
  ]
}]]></Config>
</DataType>