<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c5c5bfe4-3cd6-4d88-8b64-c1c4a3ddd52d" Alias="Success Stories List" Level="1">
  <Info>
    <Name>Success Stories List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "ac3cdcfa-2fd1-4b8e-828a-d3046a54a05b"
    }
  ]
}]]></Config>
</DataType>