<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d4294278-6712-4e86-bf2e-b39cb176a5aa" Alias="Team Member List" Level="1">
  <Info>
    <Name>Team Member List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "3b92cd66-e06c-4243-939d-ebb7d1cb5ca0",
      "label": "{umbValue: teamMemberName}"
    }
  ]
}]]></Config>
</DataType>