<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a85f0593-ba2c-4238-a61c-0f6180d56d1d" Alias="contactPage" Level="2">
  <Info>
    <Name>Contact Page</Name>
    <Icon>icon-message-open</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="bc6759c0-37aa-4250-890b-a2edbf8908e4">pageHeader</Composition>
    </Compositions>
    <DefaultTemplate>ContactPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c80894a2-970f-4460-a122-c20a74bfe763">ContactPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>80e34ea4-32b5-422a-a233-fd63cfdeddb7</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>749ce6fc-f6eb-410c-8b7b-1d6689f2bdae</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>b980f823-ba3b-4051-875f-5d3d704a1e02</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>