<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fc6b02f5-72ae-40fb-8cc1-99b88ab1f208" Alias="formSubmissions" Level="2">
  <Info>
    <Name>Form Submissions</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Forms</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="974953c2-66e8-40fa-ba1f-355ff662d4c8" SortOrder="0">callbackRequest</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>