<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e2e8e8a4-9a3b-4fa7-af31-0253b9bcd630" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="daea678c-3429-4a1d-8131-403c492ed813">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="a85f0593-ba2c-4238-a61c-0f6180d56d1d" SortOrder="0">contactPage</ContentType>
    <ContentType Key="24659146-99fe-432e-ab88-1bed55c95202" SortOrder="1">servicePage</ContentType>
    <ContentType Key="5052445f-7c93-4fbb-ab82-db183d17ff83" SortOrder="2">aboutPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>9866e99d-1e99-4a6e-83a0-9e44b9118bca</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>749ce6fc-f6eb-410c-8b7b-1d6689f2bdae</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>b7191f7f-20ec-41e2-b420-f226d030977c</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>